<div class="footer p-3">

    <p class="text-center">
        <span jhiTranslate="footerredes">Síguenos en nuestras redes: </span>
        <a href="https://www.instagram.com/pillalasalvuelo/">Instagram</a>
        <a href="https://www.facebook.com/Píllalas-al-vuelo-2319807748105181/">Facebook</a>
        <a href="https://twitter.com/pillalasalvuelo">Twitter</a>
        <fa-icon icon="share"> </fa-icon>
        </br>
        <a href="mailto:juanmgar@gmail.com?subject=Feedback">Cuéntame</a>
        que te ha parecido la web.
        </br>
        <span jhiTranslate="footer1"> </span>
        <fa-icon icon="heart"> </fa-icon><span jhiTranslate="footer2"></span>
    </p>
</div>