<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fotografia-heading" jhiTranslate="pillalasAlVueloApp.fotografia.home.createOrEditLabel">Create or edit a Fotografia</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pillalasAlVueloApp.fotografia.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pillalasAlVueloApp.fotografia.fichero" for="field_fichero">Fichero</label>
                    <div>
                        <img [src]="'data:' + editForm.get('ficheroContentType').value + ';base64,' + editForm.get('fichero').value" style="max-height: 100px;" *ngIf="editForm.get('fichero').value" alt="fotografia image"/>
                        <div *ngIf="editForm.get('fichero').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('ficheroContentType').value}}, {{byteSize(editForm.get('fichero').value)}}</span>
                            <button type="button" (click)="clearInputImage('fichero', 'ficheroContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_fichero" (change)="setFileData($event, 'fichero', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="fichero" id="field_fichero"
                           formControlName="fichero"/>
                    <input type="hidden" class="form-control" name="ficheroContentType" id="field_ficheroContentType"
                           formControlName="ficheroContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pillalasAlVueloApp.fotografia.ave" for="field_ave">Ave</label>
                    <select class="form-control" id="field_ave" name="ave" formControlName="ave">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="aveOption.id === editForm.get('ave').value?.id ? editForm.get('ave').value : aveOption" *ngFor="let aveOption of aves; trackBy: trackAveById">{{aveOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
