<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fotografia">
            <h2><span jhiTranslate="pillalasAlVueloApp.fotografia.detail.title">Fotografia</span> {{fotografia.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pillalasAlVueloApp.fotografia.nombre">Nombre</span></dt>
                <dd>
                    <span>{{fotografia.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="pillalasAlVueloApp.fotografia.fichero">Fichero</span></dt>
                <dd>
                    <div *ngIf="fotografia.fichero">
                        <a (click)="openFile(fotografia.ficheroContentType, fotografia.fichero)">
                            <img [src]="'data:' + fotografia.ficheroContentType + ';base64,' + fotografia.fichero" style="max-width: 100%;" alt="fotografia image"/>
                        </a>
                        {{fotografia.ficheroContentType}}, {{byteSize(fotografia.fichero)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="pillalasAlVueloApp.fotografia.avistamiento">Avistamiento</span></dt>
                <dd>
                    <div *ngIf="fotografia.avistamiento">
                        <a [routerLink]="['/avistamiento', fotografia.avistamiento?.id, 'view']">{{fotografia.avistamiento?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pillalasAlVueloApp.fotografia.observatorio">Observatorio</span></dt>
                <dd>
                    <div *ngIf="fotografia.observatorio">
                        <a [routerLink]="['/observatorio', fotografia.observatorio?.id, 'view']">{{fotografia.observatorio?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pillalasAlVueloApp.fotografia.autor">Autor</span></dt>
                <dd>
                    {{fotografia.autor?.id}}
                </dd>
                <dt><span jhiTranslate="pillalasAlVueloApp.fotografia.ave">Ave</span></dt>
                <dd>
                    <span *ngFor="let ave of fotografia.aves; let last = last">
                        <a [routerLink]="['/ave', ave?.id, 'view' ]">{{ave.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fotografia', fotografia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
