<div class="row justify-content-center">
    <div class="col-5">
        <div *ngIf="observatorio.foto">
            <a (click)="openFile(observatorio.fotoContentType, observatorio.foto)">
                <img class="border border-secondary"
                    [src]="'data:' + observatorio.fotoContentType + ';base64,' + observatorio.foto"
                    style="max-width: 100%;" alt="observatorio image" />
            </a>
        </div>
        <div *ngIf="!observatorio.foto">
            <img class="border border-secondary" src="../../../content/images/no-img.png" alt="observatorio image" />
        </div>
        <dl class="m-2">
            <dt><span jhiTranslate="pillalasAlVueloApp.observatorio.descripcion">Descripcion</span></dt>
            <dd>
                <span>{{observatorio.descripcion}}</span>
            </dd>
        </dl>
    </div>
    <div class="col-7">
        <div *ngIf="observatorio">
            <h2>{{observatorio.nombre}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pillalasAlVueloApp.observatorio.latitud">Latitud</span></dt>
                <dd>
                    <span>{{observatorio.latitud}}</span>
                </dd>
                <dt><span jhiTranslate="pillalasAlVueloApp.observatorio.longitud">Longitud</span></dt>
                <dd>
                    <span>{{observatorio.longitud}}</span>
                </dd>
                <dt><span jhiTranslate="pillalasAlVueloApp.observatorio.ave">Aves que puedes encontrar</span></dt>
                <dd>
                    <span *ngFor="let ave of observatorio.aves">
                        <a *ngIf="ave.foto" (click)="openFile(ave.fotoContentType, ave.foto)">
                            <img [src]="'data:' + ave.fotoContentType + ';base64,' + ave.foto"
                                class="img-thumbnail img-fluid col-2" alt="ave image" />
                        </a>
                        <a *ngIf="!ave.foto" (click)="openFile(ave.fotoContentType, ave.foto)">
                            <img src="../../../content/images/no-img.png" class="img-thumbnail img-fluid col-2"
                                alt="ave image" />
                        </a>
                        <a [routerLink]="['/ave', ave?.id, 'view' ]">{{ave.nombreComun}}</a>
                    </span>
                </dd>
            </dl>

            <agm-map [latitude]="latitude" [longitude]="longitude">
                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>

            <button type="submit" (click)="previousState()" class="btn btn-info mt-2">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button" [routerLink]="['/observatorio', observatorio.id, 'edit']"
                class="btn btn-primary mt-2">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>