<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="observatorio">
            <h2><span jhiTranslate="pillalasAlVueloApp.observatorio.detail.title">Observatorio</span> {{observatorio.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pillalasAlVueloApp.observatorio.nombre">Nombre</span></dt>
                <dd>
                    <span>{{observatorio.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="pillalasAlVueloApp.observatorio.latitud">Latitud</span></dt>
                <dd>
                    <span>{{observatorio.latitud}}</span>
                </dd>
                <dt><span jhiTranslate="pillalasAlVueloApp.observatorio.longitud">Longitud</span></dt>
                <dd>
                    <span>{{observatorio.longitud}}</span>
                </dd>
                <dt><span jhiTranslate="pillalasAlVueloApp.observatorio.foto">Foto</span></dt>
                <dd>
                    <div *ngIf="observatorio.foto">
                        <a (click)="openFile(observatorio.fotoContentType, observatorio.foto)">
                            <img [src]="'data:' + observatorio.fotoContentType + ';base64,' + observatorio.foto" style="max-width: 100%;" alt="observatorio image"/>
                        </a>
                        {{observatorio.fotoContentType}}, {{byteSize(observatorio.foto)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="pillalasAlVueloApp.observatorio.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{observatorio.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="pillalasAlVueloApp.observatorio.observatorio">Observatorio</span></dt>
                <dd>
                    <span *ngFor="let observatorio of observatorio.observatorios; let last = last">
                        <a [routerLink]="['/fotografia', observatorio?.id, 'view' ]">{{observatorio.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="pillalasAlVueloApp.observatorio.ave">Ave</span></dt>
                <dd>
                    <span *ngFor="let ave of observatorio.aves; let last = last">
                        <a [routerLink]="['/ave', ave?.id, 'view' ]">{{ave.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/observatorio', observatorio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
