<div class="row justify-content-center">
    <div class="col-5">
        <div *ngIf="ave.foto">
            <a (click)="openFile(ave.fotoContentType, ave.foto)">
                <img class="border border-secondary" [src]="'data:' + ave.fotoContentType + ';base64,' + ave.foto" style="max-width: 100%;"
                    alt="ave image" />
            </a>
        </div>
        <div *ngIf="!ave.foto">
            <img class="border border-secondary" src="../../../content/images/no-img.png" alt="observatorio image" />
        </div>
        <div *ngIf="ave.sonido">
            <audio [src]="srcData" controls>
                <p>Tu navegador no implementa el elemento audio.</p>
            </audio>
        </div>
    </div>
    <div class="col-7">
        <div *ngIf="ave">
            <h2>{{ave.nombreComun}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pillalasAlVueloApp.ave.nombreComun">Nombre Comun</span></dt>
                <dd>
                    <span>{{ave.nombreComun}}</span>
                </dd>
                <dt><span jhiTranslate="pillalasAlVueloApp.ave.nombreCientifico">Nombre Cientifico</span></dt>
                <dd>
                    <em>{{ave.nombreCientifico}}</em>
                </dd>
                <dt><span jhiTranslate="pillalasAlVueloApp.ave.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{ave.descripcion}}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button *ngIf="isAuthenticated()" type="button" [routerLink]="['/ave', ave.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>