<div>
    <h2 id="page-heading">
        <span jhiTranslate="pillalasAlVueloApp.avistamiento.home.title">Avistamientos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-avistamiento" [routerLink]="['/avistamiento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pillalasAlVueloApp.avistamiento.home.createLabel">
            Create new Avistamiento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="avistamientos?.length === 0">
        <span jhiTranslate="pillalasAlVueloApp.avistamiento.home.notFound">No avistamientos found</span>
    </div>
    <div class="table-responsive" *ngIf="avistamientos?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="pillalasAlVueloApp.avistamiento.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha"><span jhiTranslate="pillalasAlVueloApp.avistamiento.fecha">Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="latitud"><span jhiTranslate="pillalasAlVueloApp.avistamiento.latitud">Latitud</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longitud"><span jhiTranslate="pillalasAlVueloApp.avistamiento.longitud">Longitud</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="pillalasAlVueloApp.avistamiento.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let avistamiento of avistamientos ;trackBy: trackId">
                <td><a [routerLink]="['/avistamiento', avistamiento.id, 'view' ]">{{avistamiento.id}}</a></td>
                <td>{{avistamiento.nombre}}</td>
                <td>{{avistamiento.fecha | date:'medium'}}</td>
                <td>{{avistamiento.latitud}}</td>
                <td>{{avistamiento.longitud}}</td>
                <td>{{avistamiento.descripcion}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/avistamiento', avistamiento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/avistamiento', avistamiento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'avistamiento', { outlets: { popup: avistamiento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="avistamientos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
